**/.terraform/
**/*.tfstate
**/*.tfstate.backup
**/*.tfstate.*.backup
**/.terraform.tfstate.lock.info
**/.terraform.lock.hcl
**/terraform.tfvars
**/lambda/bootstrap
**/lambda/function.zip
.DS_Store
**/tfplan
